* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333;
    margin-bottom: 50px;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    color: #0e7ea9;
    font-size: 35px;
    font-weight: 200;
}

p {
    color: #fff;
    line-height: 24px;
    margin-bottom: 18px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: -1px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

strong {
    font-weight: 600;
}

a:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

#monogram {
    width: 50px;
    padding: 50px 0 0 0;
    margin: 0 auto 0 50px;
}

#about {
    width: 400px;
    margin: 50px auto 0 50px !important;
}

.initials {
    opacity: 0.8;
}

small {
    color: #fff;
    opacity: 0.7;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.photo {
    display: none;
}

@media (max-width: 767px) {
    body {
        background-color: #efefef;
    }
    p {
        color: #666;
    }
    a {
        color: #333;
    }
    h2 {
        color: #777;
    }
    small {
        color: #888;
    }
    img {
        max-width: 100%;
    }
    .photo {
        display: inherit;
        margin: -20px -20px 20px -20px !important;
    }
    #about {
        position: relative;
        width: auto;
        padding: 20px;
        margin: 0 !important;
    }
    .backstretch {
        opacity: 0.2;
    }
}
